// @import "../../../styles/elements.module.scss";
@import "../../../styles/colorPallete.module.scss";
@import "../../../styles/mixins.module.scss";

.LikeBtn {
  height: 100%;
  flex: 1 1 0;
  @extend %flexRow;
  align-items: center;
  justify-content: center;

  & > svg {
    color: rgba($colorText, 0.4);
    min-width: 30%;
    max-width: 50%;
    width: auto;
    height: 60%;
  }
  &.liked {
    & > svg {
      color: $colorLike;
    }
  }
}
