@import "../../../styles/colorPallete.module.scss";
@import "../../../styles/elements.module.scss";
@import "../../../styles/mixins.module.scss";

.Pagination {
  position: sticky;
  width: 30%;
  height: 100%;
  @extend %flexRow;
  background-color: #fff;
  padding: 1em 0;
  border-radius: 2em;
  // box-shadow: 0 0.5em 0.25em rgba($colorElement, 0.4);


  & > .page {
    height: 100%;
    width: 100%;
    @extend %flexRow;

    & > .paginationBtn {
      max-width: 2em;
      max-height: 2em;
      @extend %flexRow;
      align-items: center;
      justify-content: center;
      border-radius: 50em;
      font-size: 1em;
      background-color: transparent;

      &.selected {
        background-color: $colorPrimary;
        color: #fff;
      }
    }
  }
}
