$colorPrimary: #4361ee;
$colorPrimaryDark: #3f37c9;
$colorTitle: #333333;
$colorPara: #3d4651be;
$colorLabel: #d1d5db;
$colorBorder: #e5e7eb;
$colorDivider: #f3f4f6;
$colorLink :#0ea5e9;
$colorBackgroundDark:#343a40;
$colorBackgroundModal:#f2f4ff;
$colorBackgroundPage:#F3F5F6;
$colorActive: #343a40;
$colorText: #5f7681;
$colorDisbled: #111316;
$colorWarning:#e11d48;
$colorLike:#e63946;
$colorCard: #fff;
$colorElement:#D0D8DC;

// Badges colors 
$colorPremium: #facc15;
$colorGreat: #84cc16;
$colorMedium: #f97316;
$colorRisky: #ef4444;
