@import "./colorPallete.module.scss";

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translatex(-50%);
  }

  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

@keyframes hover {
  0% {
    transform: translateY(1%);
  }

  50% {
    transform: translateY(-1%);
  }

  100% {
    transform: translateY(1%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// SideBar
@keyframes shrinkSideBar {
  0% {
    width: 20%;
    background-color: rgba($colorBorder, 0.2);
    border-right: 0.0625em solid rgba($colorBorder, 0.2);
  }

  100% {
    width: 5%;
    background-color: #fff;
    border-right: 0.0625em solid rgba($colorBorder, 0.2);
  }
}

@keyframes expandSideBar {
  0% {
    width: 5%;
    background-color: #fff;
    border-right: 0.0625em solid rgba($colorBorder, 0.2);
  }

  100% {
    width: 20%;
    background-color: rgba($colorBorder, 0.2);
    border-right: 0.0625em solid rgba($colorBorder, 0.2);
  }
}

@keyframes openModal {
  0% {
    opacity: 0;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
  }

  50% {
    display: flex;
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);

    backdrop-filter: blur(3px);
  }
}

@keyframes animateLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes inputError {
  0% {
    transform: translateX(0);
    border: 0.125em solid $colorPrimary;
    box-shadow: 0 0 5em rgba($colorPrimary, 0.3);
  }

  25% {
    transform: translateX(0.5em);
    border: 0.125em solid $colorWarning;
    box-shadow: 0 0 5em rgba($colorWarning, 0.3);
  }
  50% {
    transform: translateX(-0.5em);
    border: 0.125em solid $colorPrimary;
    box-shadow: 0 0 5em rgba($colorPrimary, 0.3);
  }
  75% {
    transform: translateX(0.5em);
    border: 0.125em solid $colorWarning;
    box-shadow: 0 0 0.25em rgba($colorWarning, 0.3);
  }

  100% {
    transform: translateX(0);
    border: 0.125em solid $colorPrimary;
    box-shadow: 0 0 5em rgba($colorPrimary, 0.3);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes display {
  0% {
    display: none;
    opacity: 0;
    filter: blur(12px);
  }

  100% {
    display: flex;
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes expandDropdownTrigger {
  0% {
    width: auto;
  }

  100% {
    width: 100%;
    max-width: 17vw;
  }
}

@keyframes expandDropdown {
0% {
  height: 0;
  width: 0;
}

50% {
  height: 0;
  width: 100%;
}

100% {
  height: 100%;
  width: 100%;
}
}
