@import "../../styles/colorPallete.module.scss";

.Layout {
  height: 100vh;
  max-width: 100vw;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  overflow: hidden;

  & > .header {
    height: 10%;
    width: 100%;

    &.hidden {
      display: none;
    }
  }
  & > .main {
    width: 100%;
    height: 100%;
  }
}
