@import "../../../styles/colorPallete.module.scss";
@import "../../../styles/mixins.module.scss";
@import "../../../styles/elements.module.scss";
@import "../../../styles/breakpoints.module.scss";

.hidden {
  display: none;
}
.Header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
  height: 100%;
  width: 100%;
  padding: 1em 2em;
  @extend %flexRow;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 0.5em 0.125em rgba($colorBackgroundDark, 0.1);

  @include respond("phone") {
    padding: 1em;
  }

  @include respond("tablet") {
    padding: 1em;
  }

  & > .logo {
    @extend %flexRow;
    height: 100%;
    & > svg {
      height: 100%;
      
    }
  }

  & > .tabs {
    display: none;
    width: max(33%, 400px);

    &.Admin {
      @extend %flexRow;
      gap: 1em;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      border-bottom: 0.125em solid transparent;
    }

    & > .category {
      cursor: pointer;
      color: $colorText;
      font-size: 1em;
      font-weight: 500;

      &.active {
        border-bottom: 0.125em solid $colorBorder;
      }

      &:hover {
        color: $colorTitle;
      }
    }
  }

  & > .buttons {
    @extend %flexRow;
    gap: 0.5em;
    width: max(33%, 400px);
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    // background-color: aquamarine;

    & > .primary {
      width: auto;
      max-width: 35%;
      padding: 0 1em;
      & > svg {
        height: 100%;
        min-width: 20%;
      }
    }

    & > span {
      white-space: nowrap;
      text-align: right;
      color: $colorText;
      font-size: 0.875em;
    }

    hr {
      height: 100%;
    }
  }
}
