@import "../../../styles/mixins.module.scss";
@import "../../../styles/colorPallete.module.scss";
@import "../../../styles/elements.module.scss";

.Main {
  height: 100%;
  width: 100%;
  @extend %flexCol;
  flex: 1;
  padding: 1em;
  overflow: scroll;
  overflow-x: hidden;
  background-color: $colorBackgroundPage;
  position: relative;
}
